<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768099934449-stpgelbtp3cgdo9fir7ip6nhemdbpitk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768099934449-stpgelbtp3cgdo9fir7ip6nhemdbpitk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYW5RM537xqp6ub1F4H1jsdv3ZZeDGlPI</string>
	<key>GCM_SENDER_ID</key>
	<string>768099934449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client</string>
	<key>PROJECT_ID</key>
	<string>budgettracker-42b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>budgettracker-42b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768099934449:ios:a9dad8b16a71bd2aba4950</string>
</dict>
</plist>